#ignore all the resultant data files
/project_files/results/graficas/*
!project_files/results/graficas/readme.txt
/project_files/results/results_h/*
!project_files/results/results_h/readme.txt
/project_files/results/results_op/rain_op/*
!project_files/results/results_op/rain_op/readme.txt
/project_files/results/results_op/*
!project_files/results/results_op/readme.txt

#ignore the project variable inputs, including credentials.
/project_files/inputs/*
!/project_files/readme.txt

#ignore the editable tests
/project_files/tests/editable_tests/*
!project_files/tests/editable_tests/readme.txt
/project_files/tests/.ipynb_checkpoints

#ignore folders that should be created after installing package.
/build
/build/lib/SHop
/dist
/SHop.egg-info
