#ignore all the resultant data files
/project_files/results/graficas/caudal/*
!project_files/results/graficas/caudal/readme.txt
/project_files/results/graficas/nivel/*
!project_files/results/graficas/nivel/readme.txt
/project_files/results/graficas/humedaddelsuelo/estaciones/*
!project_files/results/graficas/humedaddelsuelo/estaciones/readme.txt
/project_files/results/graficas/humedaddelsuelo/mapas/*
!project_files/results/graficas/humedaddelsuelo/mapas/readme.txt
/project_files/results/graficas/humedaddelsuelo/mapas/psat/*
!project_files/results/graficas/humedaddelsuelo/mapas/psat/readme.txt
/project_files/results/graficas/humedaddelsuelo/mapas/hglog/*
!project_files/results/graficas/humedaddelsuelo/mapas/hglog/readme.txt
/project_files/results/results_h/*
!project_files/results/results_h/readme.txt
/project_files/results/results_op/estH_obs/*
!project_files/results/results_op/estH_obs/readme.txt
/project_files/results/results_op/rain_op/*
!project_files/results/results_op/rain_op/readme.txt
/project_files/results/results_op/*
!project_files/results/results_op/readme.txt

#ignore the project variable inputs, including credentials.
/project_files/inputs/*
!/project_files/readme.txt

#ignore the editable tests
/project_files/tests/editable_tests/*
!project_files/tests/editable_tests/readme.txt
/project_files/tests/.ipynb_checkpoints

#ignore folders that should be created after installing package.
/build
/build/lib/SHop
/dist
/SHop.egg-info
